* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 62.5%;
}

img {
  width: 100%;
  height: 100%;
}

body {
  background-color: #fbfcff;
}

#root {
  margin: 0 auto;
  max-width: 120rem;
}

.under-construction-img-container,
.img-credits {
  margin: 0 auto;
}

.under-construction-img-container {
  position: relative;
  max-width: 90rem;
}

.img-credits {
  text-align: center;
  font-size: 1.2rem;
  font-family: 'Roboto';

  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 500px) {
  html,
  body {
    font-size: 56.25%;
  }

  .img-credits {
    bottom: -10%;
  }
}
